@model VmHome


<main>
	<section id="banner" class="bg-dark d-flex align-items-center justify-content-center">
		<div id="banner-text">
			<h1 class="text-center text-white fw-bold display-4">@Model.settings.BannerHeader</h1>
			<p class="text-white-50 text-center mt-3">@Model.settings.BannerText</p>
		</div>
	</section>
	<section id="Shopping" class="container-md my-5">
		<div class="row">
			@foreach (var item in Model.product)
			{
				<div class="col-3">
					<div class="card" style="width: 18rem">
						<img src="~/assets/img/product/@item.Image"style = "height : 200px; object-fit : cover" class="card-img-top" alt="product" />
						<div class="card-body">
							<h5 class="card-title text-center mb-3">@item.Name</h5>
							<div class="card-stars d-flex justify-content-center mb-3">
								<div class="stars-wrapper d-flex justify-content-between w-30">
									@for (var s = 0; s < 5; s++)
									{
										if (s < @item.Star)
										{
											<i class="fas fa-star text-warning"></i>
										}
										else
										{
											<i class="far fa-star text-warning"></i>
										}
									}
								</div>
							</div>
							<p class="card-text text-center mb-3">$@item.Price</p>
							<div class="d-flex justify-content-center">
								<buttin asp-controller = "Cart" asp-action = "Create" asp-route-id = "@item.Id" class="btn btn-outline-dark">Add to cart</buttin>
							</div>
						</div>
					</div>
				</div>
			}
		</div>
	</section>
</main>