@{
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@model VmCategory

<div class="container-fluid">

	<form asp-area="admin" asp-controller="Category" asp-action="Create" method="post">
		<div class="mb-3">
			<label asp-for="@Model.category.Name" class="form-label">Name</label>
			<div class="d-flex w-50">
				<input class="form-control" asp-for="@Model.category.Name">
				<button type="submit" class="btn btn-primary ml-3">Submit</button>
			</div>
		</div>
	</form>

	<table class="table">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Name</th>
				<th scope="col">Modify Category</th>
			</tr>
		</thead>
		<tbody>
			@{
				int i = 1;
				foreach (var item in Model.categories)
				{
					<tr>
						<th scope="row">@i</th>
						<td style = "width : 500px">@item.Name</td>
						<td> 
							<a class="btn btn-primary" asp-area = "admin" asp-controller="Category" asp-action="Update" asp-route-id ="@item.Id">Update</a>
							<a class="btn btn-danger" asp-area = "admin" asp-controller="Category" asp-action="Delete" asp-route-id ="@item.Id"  >Delete</a>
						</td>
					</tr>
					i++;
				}
			}
		</tbody>
	</table>


</div>
