@model Product

<div class="container-fluid">
	<h2 class="mb-5">Update Product</h2>
	<form class="w-50" asp-area="admin" asp-controller="Product" asp-action="Update" method="post" enctype="multipart/form-data">
		<div asp-validation-summary="All" class="text-danger"></div>
		<div class="mb-3 form-floating">
			<label asp-for="@Model.ImageFile" class="form-label">Add User Profile Image</label>
			<input class="form-control" asp-for="@Model.ImageFile">
		</div>
		<div class="mb-3">
			<label class="form-label">Roll</label>
			<select class="form-control" asp-for="@Model.CategoryId" asp-items="@(new SelectList(ViewBag.Category, "Id", "Name"))">
				<option selected>Select Category</option>
			</select>
		</div>
		<div class="mb-3">
			<label asp-for="@Model.Name" class="form-label">Name</label>
			<input class="form-control" asp-for="@Model.Name">
		</div>
		<div class="mb-3">
			<label asp-for="@Model.Price" class="form-label">Price</label>
			<input type = "number" class="form-control" asp-for="@Model.Price">
		</div>
		<div class="mb-3">
			<label asp-for="@Model.Star" class="form-label">Star</label>
			<select class="form-control" asp-for="@Model.Star">
				<option selected>Select Product Star</option>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
			</select>
		</div>

		<input asp-for="@Model.Id" hidden />
		<input asp-for="@Model.CreatedTime" hidden />
		<input asp-for="@Model.Image" hidden />
		<button type="submit" class="btn btn-primary">Update</button>
	</form>
</div>